<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- META TAGS -->
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<!-- /META TAGS -->
<!-- CSS -->
<style type="text/css">@import url("css/base.css");</style>
<style type="text/css">@import url("css/grid.css");</style>
<style type="text/css">@import url("css/extensions.css");</style>
<link href='css/themes/blue.css' rel='stylesheet' type='text/css' />


<!-- /CSS -->
<title>TaskMap - A map to get you there</title>
<%= partial('_js', {params: params});%>
</head>
<body class="layout980">
<div id="page-wrapper" class="width"> 
  <!-- HEADER -->
  <div id="header"> 
    <!-- USERAREA -->
    <div class="user-area fr"> <span class="spacer">Hello <strong>John Doe</strong></span> | <a href="#messages" class="spacer" rel="modal">Messages <span class="notfi">3</span></a> |
      <ul id="set-opt">
        <li><a href="#">Settings</a>
          <ul>
            <li><a href="#">Page Width</a>
              <ul class="layout-options">
                <li> <a title="Switch to 100% width layout" id="layout100" href="javascript:void(0);" class="">Switch to <b>100%</b> width</a> </li>
                <li> <a title="Switch to 90% width layout" id="layout90" href="javascript:void(0);" class="">Switch to <b>90%</b> width</a> </li>
                <li> <a title="Switch to 75% width layout" id="layout75" href="javascript:void(0);" class="active">Switch to <b>75%</b> width</a> </li>
                <li> <a title="Switch to 980px layout" id="layout980" href="javascript:void(0);" class="">Switch to <b>980px</b> width</a> </li>
                <li> <a title="Switch to 1280px layout" id="layout1280" href="javascript:void(0);" class="">Switch to <b>1280px</b> width</a> </li>
                <li> <a title="Switch to 1400px layout" id="layout1400" href="javascript:void(0);" class="">Switch to <b>1400px</b> width</a> </li>
                <li> <a title="Switch to 1600px layout" id="layout1600" href="javascript:void(0);" class="">Switch to <b>1600px</b> width</a> </li>
              </ul>
            </li>
            <li><a href="#">Theme</a>
            <ul>
                <li><a class="color-blue" href="?theme=blue">Switch to the <b>Blue</b> theme</a></li>
                <li><a class="color-red" href="?theme=green">Switch to the <b>Red</b> theme</a></li>
                <li><a class="color-green" href="?theme=orange">Switch to the <b>Green</b> theme</a></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
      | <a href="#" class="spacer">Logout</a> </div>
    <!-- USERAREA END --> 
    <!-- LOGO --> 
    <img id="logo" src="./img/Harbinger-Logo.png" alt="" border="" /> 
    <!-- LOGO END --> 
  </div>
  <!-- HEADER END --> 
  <!-- NAV -->
  <ul id="nav">
    <li class="current"><a href="#">Dashboard</a></li>
    <li><a href="#">Content</a>
      <ul>
        <li><a href="#">Content Manager</a>
          <ul>
            <li><a href="#">Add New Page</a></li>
            <li><a href="#">Edit Page</a></li>
            <li><a href="#">Delete</a></li>
            <li><a href="#">Page Layouts</a></li>
          </ul>
        </li>
        <li><a href="#">Import Content </a></li>
        <li><a href="#">Export Content</a>
          <ul>
            <li><a href="#">Export XML</a></li>
            <li><a href="#">Export Other</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li><a href="#">Users</a>
      <ul>
        <li><a href="#">Manage Users</a>
          <ul>
            <li><a href="#">Add New User</a>
              <ul>
                <li><a href="#">Add New Member</a></li>
                <li><a href="#">Add New Author</a></li>
                <li><a href="#">Add New Moderator</a></li>
                <li><a href="#">Add New Admin</a></li>
              </ul>
            </li>
            <li><a href="#">Edit User</a> </li>
            <li><a href="#">Delete User</a></li>
          </ul>
        </li>
        <li><a href="#">Manage Usergroups</a></li>
        <li><a href="#">User Permissions</a></li>
      </ul>
    </li>
    <li><a href="#">Settings</a></li>
    <li><a href="#">Help</a></li>
  </ul>
  <!-- NAV END -->
  <div id="page"> 
    <!-- OPEN GRID CONTAINER -->
    <div class="container_12">
      <div class="grid_12"> 
        <!-- STATS -->
        <div class="box-header"> Stats </div>
        <div class="box tab-content">
          <table cellspacing="0" cellpadding="0" width="100%" class="stats">
            <thead>
              <tr>
                <td></td>
                <th>01.06</th>
                <th>02.06</th>
                <th>03.06</th>
                <th>04.06</th>
                <th>05.06</th>
                <th>06.06</th>
                <th>07.06</th>
                <th>08.06</th>
                <th>09.06</th>
                <th>10.06</th>
                <th>11.06</th>
                <th>12.06</th>
                <th>13.06</th>
                <th>14.06</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">New Users</th>
                <td>12</td>
                <td>18</td>
                <td>28</td>
                <td>32</td>
                <td>22</td>
                <td>10</td>
                <td>12</td>
                <td>4</td>
                <td>7</td>
                <td>2</td>
                <td>6</td>
                <td>5</td>
                <td>9</td>
                <td>4</td>
              </tr>
              <tr>
                <th scope="row">New Comments</th>
                <td>3</td>
                <td>5</td>
                <td>1</td>
                <td>9</td>
                <td>14</td>
                <td>16</td>
                <td>23</td>
                <td>17</td>
                <td>5</td>
                <td>9</td>
                <td>3</td>
                <td>5</td>
                <td>1</td>
                <td>4</td>
              </tr>
            </tbody>
          </table>
          <br class="cl" />
        </div>
        <!-- END STATS --> 
      </div>
      <br class="cl" />
      <!-- TABLES -->
      <div class="grid_12">
        <div class="box-header">
          <ul id="tables-tabs" class="tabs fr">
            <li><a class="selected" href="#table-tab1">USERS</a></li>
            <li><a href="#table-tab2">CONTENT</a></li>
          </ul>
          Tables </div>
        <!-- TABLES - TAB 1 -->
        <div id="table-tab1" class="box table tab-content">
          <table cellspacing="0">
            <thead>
              <tr>
                <td class="first" width="20px"><input type="checkbox" value="" class="check-all checkbox" /></td>
                <td>Name</td>
                <td>Email</td>
                <td>Joined</td>
                <td>Usergroup</td>
                <td>Options</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="first"><input type="checkbox" value="" class="checkbox" /></td>
                <td> John </td>
                <td>lorm@ipsum.com </td>
                <td>9/5/2010</td>
                <td> Member </td>
                <td class="tc"><a class="tooltip" href="#" title="Edit User"><img src="./img/icons/small/user_edit.png" alt="edit user" border="0" /></a> <a class="tooltip" href="#" title="Delete User"><img src="./img/icons/small/user_delete.png" alt="delete user" border="0" /></a></td>
              </tr>
              <tr>
                <td class="alt first"><input type="checkbox" value="" class="checkbox" /></td>
                <td class="alt"> John </td>
                <td class="alt">lorm@ipsum.com </td>
                <td class="alt">9/5/2010</td>
                <td class="alt"> Member </td>
                <td class="alt tc"><a class="tooltip" href="#" title="Edit User"><img src="./img/icons/small/user_edit.png" alt="edit user" border="0" /></a> <a class="tooltip" href="#" title="Delete User"><img src="./img/icons/small/user_delete.png" alt="delete user" border="0" /></a></td>
              </tr>
              <tr>
                <td class="first"><input type="checkbox" value="" class="checkbox" /></td>
                <td> John </td>
                <td>lorm@ipsum.com </td>
                <td>9/5/2010</td>
                <td> Member </td>
                <td class="tc"><a class="tooltip" href="#" title="Edit User"><img src="./img/icons/small/user_edit.png" alt="edit user" border="0" /></a> <a class="tooltip" href="#" title="Delete User"><img src="./img/icons/small/user_delete.png" alt="delete user" border="0" /></a></td>
              </tr>
              <tr>
                <td class="alt first"><input type="checkbox" value="" class="checkbox" /></td>
                <td class="alt"> John </td>
                <td class="alt">lorm@ipsum.com </td>
                <td class="alt">9/5/2010</td>
                <td class="alt"> Member </td>
                <td class="alt tc"><a class="tooltip" href="#" title="Edit User"><img src="./img/icons/small/user_edit.png" alt="edit user" border="0" /></a> <a class="tooltip" href="#" title="Delete User"><img src="./img/icons/small/user_delete.png" alt="delete user" border="0" /></a></td>
              </tr>
              <tr>
                <td class="first"><input type="checkbox" value="" class="checkbox" /></td>
                <td> John </td>
                <td>lorm@ipsum.com </td>
                <td>9/5/2010</td>
                <td> Member </td>
                <td class="tc"><a class="tooltip" href="#" title="Edit User"><img src="./img/icons/small/user_edit.png" alt="edit user" border="0" /></a> <a class="tooltip" href="#" title="Delete User"><img src="./img/icons/small/user_delete.png" alt="delete user" border="0" /></a></td>
              </tr>
              <tr>
                <td class="alt first"><input type="checkbox" value="" class="checkbox" /></td>
                <td class="alt"> John </td>
                <td class="alt">lorm@ipsum.com </td>
                <td class="alt">9/5/2010</td>
                <td class="alt"> Member </td>
                <td class="alt tc"><a class="tooltip" href="#" title="Edit User"><img src="./img/icons/small/user_edit.png" alt="edit user" border="0" /></a> <a class="tooltip" href="#" title="Delete User"><img src="./img/icons/small/user_delete.png" alt="delete user" border="0" /></a></td>
              </tr>
              <tr>
                <td class="first"><input type="checkbox" value="" class="checkbox" /></td>
                <td> John </td>
                <td>lorm@ipsum.com </td>
                <td>9/5/2010</td>
                <td> Member </td>
                <td class="tc"><a class="tooltip" href="#" title="Edit User"><img src="./img/icons/small/user_edit.png" alt="edit user" border="0" /></a> <a class="tooltip" href="#" title="Delete User"><img src="./img/icons/small/user_delete.png" alt="delete user" border="0" /></a></td>
              </tr>
              <tr>
                <td class="alt first"><input type="checkbox" value="" class="checkbox" /></td>
                <td class="alt"> John </td>
                <td class="alt">lorm@ipsum.com </td>
                <td class="alt">9/5/2010</td>
                <td class="alt"> Member </td>
                <td class="alt tc"><a class="tooltip" href="#" title="Edit User"><img src="./img/icons/small/user_edit.png" alt="edit user" border="0" /></a> <a class="tooltip" href="#" title="Delete User"><img src="./img/icons/small/user_delete.png" alt="delete user" border="0" /></a></td>
              </tr>
              <tr>
                <td class="first"><input type="checkbox" value="" class="checkbox" /></td>
                <td> John </td>
                <td>lorm@ipsum.com </td>
                <td>9/5/2010</td>
                <td> Member </td>
                <td class="tc"><a class="tooltip" href="#" title="Edit User"><img src="./img/icons/small/user_edit.png" alt="edit user" border="0" /></a> <a class="tooltip" href="#" title="Delete User"><img src="./img/icons/small/user_delete.png" alt="delete user" border="0" /></a></td>
              </tr>
            </tbody>
          </table>
          <div class="table-options">
            <ul class="pagination fr">
              <li class="previous-off">« Previous</li>
              <li class="active">1</li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#">6</a></li>
              <li><a href="#">7</a></li>
              <li class="next"><a href="#">Next »</a></li>
            </ul>
            <form action="">
              <label>With selected:</label>
              <select>
                <option>Edit</option>
                <option>Move</option>
                <option>Delete</option>
              </select>
            </form>
            <br class="cl" />
          </div>
        </div>
        <!-- TABLES - TAB 2 -->
        <div id="table-tab2" class="box table tab-content">
          <table cellspacing="0">
            <thead>
              <tr>
                <td class="first" width="20px"><input type="checkbox" value="" class="check-all checkbox" /></td>
                <td>Page Name</td>
                <td>Page Description</td>
                <td>Created</td>
                <td>Category</td>
                <td>Options</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="first"><input type="checkbox" value="" class="checkbox" /></td>
                <td> Homepage </td>
                <td>This is a description of your page</td>
                <td>9/5/2010</td>
                <td> Core Pages</td>
                <td class="tc"><a class="tooltip" href="#" title="Edit Page"><img src="./img/icons/small/page_edit.png" alt="edit page" border="0" /></a> <a class="tooltip" href="#" title="Delete Page"><img src="./img/icons/small/page_delete.png" alt="delete page" border="0" /></a></td>
              </tr>
              <tr>
                <td class="alt first"><input type="checkbox" value="" class="checkbox" /></td>
                <td class="alt"> Features </td>
                <td class="alt">This is a description of your page</td>
                <td class="alt">9/5/2010</td>
                <td class="alt">Core Pages</td>
                <td class="tc"><a class="tooltip" href="#" title="Edit Page"><img src="./img/icons/small/page_edit.png" alt="edit page" border="0" /></a> <a class="tooltip" href="#" title="Delete Page"><img src="./img/icons/small/page_delete.png" alt="delete page" border="0" /></a></td>
              </tr>
              <tr>
                <td class="first"><input type="checkbox" value="" class="checkbox" /></td>
                <td> Page Name </td>
                <td>This is a description of your page</td>
                <td>9/5/2010</td>
                <td><span class="alt">Misc Pages</span></td>
                <td class="tc"><a class="tooltip" href="#" title="Edit Page"><img src="./img/icons/small/page_edit.png" alt="edit page" border="0" /></a> <a class="tooltip" href="#" title="Delete Page"><img src="./img/icons/small/page_delete.png" alt="delete page" border="0" /></a></td>
              </tr>
              <tr>
                <td class="alt first"><input type="checkbox" value="" class="checkbox" /></td>
                <td class="alt">Page Name </td>
                <td class="alt">This is a description of your page</td>
                <td class="alt">9/5/2010</td>
                <td class="alt"> Misc Pages</td>
                <td class="tc"><a class="tooltip" href="#" title="Edit Page"><img src="./img/icons/small/page_edit.png" alt="edit page" border="0" /></a> <a class="tooltip" href="#" title="Delete Page"><img src="./img/icons/small/page_delete.png" alt="delete page" border="0" /></a></td>
              </tr>
              <tr>
                <td class="first"><input type="checkbox" value="" class="checkbox" /></td>
                <td>Page Name </td>
                <td>This is a description of your page</td>
                <td>9/5/2010</td>
                <td><span class="alt">Misc Pages</span></td>
                <td class="tc"><a class="tooltip" href="#" title="Edit Page"><img src="./img/icons/small/page_edit.png" alt="edit page" border="0" /></a> <a class="tooltip" href="#" title="Delete Page"><img src="./img/icons/small/page_delete.png" alt="delete page" border="0" /></a></td>
              </tr>
            </tbody>
          </table>
          <div class="table-options">
            <ul class="pagination fr">
              <li class="previous-off">« Previous</li>
              <li class="active">1</li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#">6</a></li>
              <li><a href="#">7</a></li>
              <li class="next"><a href="#">Next »</a></li>
            </ul>
            <form action="">
              <label>With selected:</label>
              <select>
                <option>Edit</option>
                <option>Move</option>
                <option>Delete</option>
              </select>
            </form>
            <br class="cl" />
          </div>
        </div>
        <!-- TABLES END --> 
      </div>
      <br class="cl" />
      <!-- FORMS -->
      <div class="grid_7">
        <div class="box-header"> Forms &amp; Buttons
          <ul id="forms-tabs" class="tabs fr">
            <li><a class="selected" href="#forms-tab1">FORM</a></li>
            <li><a href="#forms-tab2">BUTTONS</a></li>
            <li><a href="#forms-tab3">NOTIFICATIONS</a></li>
          </ul>
        </div>
        <!-- FORMS - TAB 1 -->
        <div id="forms-tab1" class="box">
          <form method="post" action="">
            <div class="row">
              <label>Input label:</label>
              <input type="text" title="This is an input box" />
            </div>
            <div class="row">
              <label>Error example:</label>
              <input type="text" class="error" title="Uh oh, someone made an error" />
            </div>
            <div class="row">
              <label>Select label:</label>
              <select title="Select an option">
                <optgroup label="Group 1">
                <option>Option one</option>
                <option>Option two</option>
                <option>Option three</option>
                </optgroup>
              </select>
            </div>
            <div class="row">
              <label>Checkboxs:</label>
              <input type="checkbox" checked="checked" />
              <label class="checkbox">This</label>
              <input type="checkbox" />
              <label class="checkbox">That</label>
              <input type="checkbox" />
              <label class="checkbox">The Other</label>
              <input type="checkbox" />
              <label class="checkbox">Them</label>
              <br class="cl" />
            </div>
            <div class="row">
              <label>Radio buttons:</label>
              <input name="demoradio" type="radio" class="radio" checked="checked" />
              <label class="radio">Yes</label>
              <input name="demoradio" type="radio" class="radio" />
              <label class="radio">No</label>
              <br class="cl" />
            </div>
            <div class="row">
              <label>File Upload:</label>
              <input type="file" class="file" title="This is an upload form, neat isn't it." />
            </div>
            <div class="row">
              <label>Text Area:</label>
              <textarea class="wysiwyg" name="text area" rows="6" cols="34" title="This is a cool textarea"></textarea>
            </div>
            <div class="row">
              <label>Buttons:</label>
              <input type="submit" value="Submit" class="button medium blue" />
              <input type="submit" value="Reset" class="button medium" />
            </div>
          </form>
        </div>
        <!-- FORMS - TAB 2 -->
        <div id="forms-tab2" class="box">
          <form class="nocol" action="">
            <div class="row">
              <label>Default Buttons:</label>
              <input type="submit" value="Large Button" class="button" />
              <input type="submit" value="Medium Button" class="button medium " />
              <input type="submit" value="Small Button" class="button small" />
            </div>
            <div class="row">
              <label>Blue Buttons:</label>
              <input type="submit" value="Large Button" class="button blue" />
              <input type="submit" value="Medium Button" class="button medium blue" />
              <input type="submit" value="Small Button" class="button small blue" />
            </div>
            <div class="row">
              <label>Green Buttons:</label>
              <input type="submit" value="Large Button" class="button green" />
              <input type="submit" value="Medium Button" class="button medium green" />
              <input type="submit" value="Small Button" class="button small green" />
            </div>
            <div class="row">
              <label>Red Buttons:</label>
              <input type="submit" value="Large Button" class="button red" />
              <input type="submit" value="Medium Button" class="button medium red" />
              <input type="submit" value="Small Button" class="button small red" />
            </div>
            <div class="row">
              <label>Grey Buttons:</label>
              <input type="submit" value="Large Button" class="button grey" />
              <input type="submit" value="Medium Button" class="button medium grey" />
              <input type="submit" value="Small Button" class="button small grey" />
            </div>
          </form>
        </div>
        <!-- NOTIFICATIONS -->
        <div id="forms-tab3" class="box">
          <div class="notification success"> <span class="strong">SUCCESS!</span> This is a success message. </div>
          <div class="notification error"> <span class="strong">ERROR!</span> This is a error message. </div>
          <div class="notification warning"> <span class="strong">WARNING!</span> This is a warning message. </div>
          <div class="notification info"> <span class="strong">INFORMATION!</span> This is a informative message. </div>
          <div class="notification tip"> <span class="strong">TIP:</span> This is a tip message. </div>
        </div>
        <!-- NOTIFICATIONS END --> 
      </div>
      <div class="grid_5">
        <div class="box-header"> Formatting </div>
        <div class="box">
          <h2>Headline</h2>
          <p> Lorem ipsum dolor sit amet, consectetur <a href="#">adipisicing</a> elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          <h3>Headline</h3>
          <ul>
            <li>Cupidatat non</li>
            <li>Officia deserunt mollit</li>
            <li>Velit esse cillum</li>
          </ul>
          <h4>Headline</h4>
          <ol>
            <li>Ullamco laboris</li>
            <li>Pcupidatat non proident</li>
            <li>Duis aute irure dolor</li>
          </ol>
        </div>
      </div>
      <br class="cl" />
      <div class="grid_12"> 
        <!-- GALLERY -->
        <div class="box-header"> Gallery </div>
        <div class="box">
          <ul class="gallery">
            <li> <a rel="modal" href="img/gallery/gallery1.jpg"><img alt="" src="img/gallery/gallery1-thumb.jpg" /></a> </li>
            <li> <a rel="modal" href="img/gallery/gallery2.jpg"><img alt="" src="img/gallery/gallery2-thumb.jpg" /></a> </li>
            <li> <a rel="modal" href="img/gallery/gallery3.jpg"><img alt="" src="img/gallery/gallery3-thumb.jpg" /></a> </li>
            <li> <a rel="modal" href="img/gallery/gallery1.jpg"><img alt="" src="img/gallery/gallery1-thumb.jpg" /></a> </li>
            <li> <a rel="modal" href="img/gallery/gallery2.jpg"><img alt="" src="img/gallery/gallery2-thumb.jpg" /></a> </li>
            <li> <a rel="modal" href="img/gallery/gallery3.jpg"><img alt="" src="img/gallery/gallery3-thumb.jpg" /></a> </li>
            <li> <a rel="modal" href="img/gallery/gallery1.jpg"><img alt="" src="img/gallery/gallery1-thumb.jpg" /></a> </li>
            <li> <a rel="modal" href="img/gallery/gallery2.jpg"><img alt="" src="img/gallery/gallery2-thumb.jpg" /></a> </li>
            <li> <a rel="modal" href="img/gallery/gallery3.jpg"><img alt="" src="img/gallery/gallery3-thumb.jpg" /></a> </li>
          </ul>
        </div>
        <!-- GALLERY END --> 
      </div>
      <br class="cl" />
    </div>
  </div>
  <br class="cl" />
  
  <!-- FOOTER -->
  <div id="footer" class="tr"> Copyright ©2010, A <a href="http://www.mudodesigns.com">Mudo Design</a> for <a href="http://themeforest.net?ref=maestrox">Theme Forest</a>. </div>
  <!-- FOOTER END --> 
</div>
<!-- EXTRAS (MODALS) -->
<div id="messages" style="display: none">
  <h3>3 Messages</h3>
  <p> <strong>17th May 2009</strong> by Admin<br />
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. <small><a href="#" class="remove-link" title="Remove message">Remove</a></small> </p>
  <p> <strong>2nd May 2009</strong> by Jane Doe<br />
    Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est. <small><a href="#" class="remove-link" title="Remove message">Remove</a></small> </p>
  <p> <strong>25th April 2009</strong> by Admin<br />
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. <small><a href="#" class="remove-link" title="Remove message">Remove</a></small> </p>
  <form action="" method="post">
    <h4>New Message</h4>
    <fieldset>
      <textarea class="textarea" name="textfield" cols="45" rows="5"></textarea>
    </fieldset>
    <fieldset>
      <input class="button medium fr" type="submit" value="Send" />
      <select name="dropdown">
        <option value="option1">Send to...</option>
        <option value="option2">Admin</option>
        <option value="option3">User One</option>
        <option value="option4">User Two</option>
        <option value="option4">User Three</option>
      </select>
    </fieldset>
  </form>
</div>
<!-- EXTRAS (MODALS) END -->

</body>
</html>